#top-navbar-list {
    margin-top: 20px;
  text-align: right;
}

#top-navbar-list li {
  list-style: none;
  display: inline-block;
  margin-right: 18px; 
  font-size: 12px
}

#top-navbar-list button {
  background: #4387fd;
  color: white;
  padding: 6px 12px;
  font-weight: bold;
  border: aliceblue;
}

#main-content {
    position: relative;
    bottom: 90px;
    margin: auto;
    text-align: center;
    width: 600px;
}

#serach-field {
    display: block;
    width: 600px;
    height: 45px;
    margin: 25px 0px;
    padding-left: 40px;
    font-size: 15px;
    
    background-image: url(../images/search_icon.png);
    background-repeat: no-repeat;
    background-position: 2% 50%;
    background-size: 20px 20px;


    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border: 0.5px solid rgba(0, 0, 0, .07);
}

.logo {
    margin-top: 250px;
}

.search-form p {
    font-size: 12px;
    margin-top: 30px;
}

#body-div {
    position: relative;
}

.footer {
    height: 90px;
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    background-color: rgba(0, 0, 0, .07);
    color: rgba(0, 0, 0, 0.5);
}

#footer-country, #footer-navbar {
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin: 0;
    padding-left: 30px;
}

#footer-country {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

#footer-navbar li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 20px;
}

#footer-navbar {
    padding: 0px 30px;
}

#footer-navbar ul {
    display: inline-block;
    text-align: left;   
}

#footer-navbar-left {
    padding: 0px;
}

#footer-navbar-right {
    position: absolute;
    right: 0;
}

#google-apps-image {
    vertical-align: middle;
}

.search-form input[type="submit"] {
    padding: 8px 16px;
    margin-right: 5px;
    font-size: 13px;
    background-color: rgba(0, 0, 0, .07);
    border: 0 solid rgba(0, 0, 0, .1);
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: inherit;
}